@media screen and (max-width: 1024px){
    .search-container input {
        font-size: 14px;
        margin-right: 10px;
        padding: 10px 12px;
        height: 45px;
    }
    .search-container button {
        width: 45px;
        height: 45px;
    }
    .search-container img {
        width: 12px;
    }
    #right{
        padding: 15px 30px;
    }
    #right-middle{
        padding: 25px 0;
    }
}

@media screen and (max-width: 768px){
    #main{
        height: 100%;
        width: 100%;
        flex-direction: column;
        overflow: scroll;
    }
    #left{
        width: 100%;
    }
    #right{
        width: 100%;
    }
    #color-toggle{
        position: absolute;
        top: 45px;
        right: 10px;
    }
    .search-container button{
        margin-right: 30px;
    }
}

@media screen and (max-width: 640px) {
    #main{
        border-radius: none;
    }
    .weather-icon{
        width: 180px;
        margin: 50px 0;
    }
    #left hr{
        margin: 50px 0;
    }
    .city{
        margin: 50px 0;
    }
    #right-header{
        height: auto;
    }
    #right{
        padding: 10px 25px;
    }
    .details-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 95%;
        margin: 10px 0;
    }
    .details-container p,
    .details-container h3{
        margin: 0;
        font-size: 18px;
    }
    #right-footer{
        height: 80px;
        margin: 0;
        font-size: 15px;
    }
}