* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: rgb(163, 163, 163);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s ease-in-out;
}

#main {
    height: 95%;
    width: 95%;
    background-color: red;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgb(66, 66, 66) 0px 20px 30px -10px;
}

#left {
    background-color: #fff;
    width: 35%;
    text-align: center;
    color: black;
    padding: 40px;
}

#right {
    width: 65%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
}



/*-----------------------THE LEFT PART--------------------------*/

.search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container input {
    border: 0;
    border-color: #696969d2;
    outline: 0;
    padding: 8px 20px;
    border-radius: 30px;
    height: 55px;
    flex: 1;
    margin-right: 15px;
    font-size: 15px;
    background-color: #b3b3b3;
    transition: all 0.3s ease-in-out;
}

.search-container input:focus {
    border: 1px solid #318CE7;
    box-shadow: #318ce788 0px 4px 15px;
}

input::placeholder {
    color: white;
}

.search-container button {
    border: none;
    outline: none;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-color: #cecece;
}

.search-container button img {
    width: 20px;
}

.weather-icon {
    width: 150px;
    margin: 10px 0;
}

.temp {
    font-size: 90px;
    font-weight: 200;
}

#left hr {
    height: 2px;
    background-color: #bfbfbf;
    border: none;
    border-radius: 5px;
    margin: 20px 50px;
}

.city {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 400;
}


/*-----------------------THE RIGHT PART--------------------------*/

#right-header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/*      The Toggle Button     */
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox-label {
    background-color: #848484;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-moon {
    color: #dcdcdc;
}
.fa-sun {
    color: #ffbb77;
}
.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

#right-middle {
    height: 80%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*+++++++++ Font section ++++++++++*/
#right h2 {
    font-size: 35px;
    font-weight: 400;
    color: #212121d8;
    margin: 20px 0;
}

.details-container p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

#right-footer p {
    color: #212121d8;
    font-weight: 500;
}

.details-container h3 {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 400;
}

.details-container {
    height: 160px;
    max-height: 180px;
    width: 30%;
    background-color: #318ce7;
    background: rgb(0, 210, 251);
    background: linear-gradient(152deg, rgba(0, 210, 251, 1) 0%, rgb(7, 131, 255) 100%);
    color: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
    transition: all ease .4s;
}

.min-max-desc {
    display: flex;
}

.min-max-desc img,
#right-footer a img {
    height: 20px;
    width: 20px;
    margin: 5px 10px;
}

#right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------------------------- Dark Section ----------------------------------*/
body.dark {
    background-color: #7e7e7e;
}

#left.dark {
    background-color: #373737;
    color: #ffffff;
}

#right.dark {
    background-color: #585858;
    color: white;
}

.search-container input.dark {
    color: white;
    background-color: #444444;
}


.search-container button.dark {
    background-color: #444444;
}

.details-container.dark {
    background: rgb(53, 53, 53);
    background: linear-gradient(152deg, rgb(71, 71, 71) 0%, rgba(47, 47, 47, 1) 100%);
}

#right-header h2.dark,
#right-footer p.dark {
    color: white;
}